*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h2 {
    text-align: center;
    color: #333;
}

.grupo-input {
    margin-bottom: 20px;
}

.grupo-input label {
    display: block;
    color: #666;
}

.grupo-input input,
.grupo-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.grupo-input textarea {
    height: 100px;
    resize: none;
    /* Impede que o textarea seja redimensionável */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4a54e1;
}